<html>
<head>
  <meta charset="UTF_8">
  <header>
    <div align='center'>
     <h1>Welcome to Jotty!!</h1>
     </div>
  </header>
</head>
<body>
  <div align='center'>
    <h2>Please Login Here</h2>
    <form action="{{ url_for('login') }}" method="POST">
      <div class="msg"> {{ msg }} </div>
      <input id="email" name="email" type="text" placeholder="Enter your Email" class="textbox"></br></br>
      <input id="password" name="password" type="password" placeholder="Enter your Password" class="textbox"></br></br>
      <input type="submit" class="button" value="Sign in"></br></br>
    </form>
    <p class="bottom">Dont't have an account?  <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
    </div>

</body>
</html>
